<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <title>softn-manutil-app</title>
    </head>
    <body>
        <div class="d-flex flex-column w-100 h-100">
            <header class="masthead">
                <div class="mx-auto cover-container">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <a class="navbar-brand" href="#">Manutil</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">Crear <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="properties.html">Propiedades</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="configuration.html">Configuración</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="mb-auto cover">
                <main role="main" class="mx-auto cover-container p-3 clearfix">
                    <h1>Crear ficheros</h1>
                    <form id="form-create-files" novalidate>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="position-relative">
                                        <label for="input-name-class">Nombre de la clase:</label>
                                        <input id="input-name-class" class="form-control" type="text"
                                               name="inputClassName" placeholder="MyNameClass" required>
                                        <div class="invalid-tooltip">
                                            Este campo es requerido.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label for="input-name-module">Seleccione el/los modulo(s) (opcional):</label>
                                    <select id="input-name-module" class="custom-select"
                                            name="inputModuleName" multiple>
                                        <option value="" selected>Todos</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Crear</button>
                    </form>
                </main>
            </div>
            <div class="mt-auto">
                <footer class="mx-auto cover-container p-3 clearfix">
                    <div class="clearfix">
                        <p class="float-left">
                            https://github.com/nmarulo/softn-manutil-app
                        </p>
                        <p id="project-version" class="float-right">v</p>
                    </div>
                </footer>
            </div>
        </div>
        <div class="modal fade" id="modal-information" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Información</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <pre class="custom-pre"></pre>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-file-jar-properties" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>No se encontraron los ficheros <code>.jar</code> y <code>.properties</code>.</p>
                        <p>Establezca sus rutas manualmente.</p>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <script>window.$ = window.jQuery = require('jquery');</script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script>require('./js/create-file.js');</script>
    </body>
</html>