<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <title>softn-manutil-app</title>
    </head>
    <body>
        <div class="d-flex flex-column w-100 h-100">
            <header class="masthead mb-auto">
                <div class="mx-auto cover-container p-3 clearfix">
                    <h3 class="masthead-brand">SoftN Manutil App</h3>
                </div>
            </header>
            <div class="mb-auto cover">
                <main role="main" class="mx-auto cover-container p-3 clearfix">
                    <h1>Crear ficheros</h1>
                    <form id="form-create-files" class="" novalidate>
                        <div class="form-group">
                            <label for="form-input-file-properties">Seleccionar fichero ".properties"</label>
                            <input id="form-input-file-properties" class="form-control" type="file">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="form-input-name-class">Nombre de la clase:</label>
                                    <input id="form-input-name-class" class="form-control" type="text">
                                </div>
                                <div class="col-sm-6">
                                    <label for="form-input-name-module">Nombre del modulo (opcional):</label>
                                    <input id="form-input-name-module" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Crear</button>
                    </form>
                </main>
            </div>
            <div class="mt-auto">
                <footer class="mx-auto cover-container p-3 clearfix">
                    <div class="clearfix">
                        <p class="float-left">
                            <a href="https://github.com/nmarulo/softn-manutil-app"
                               target="_blank">github.com/nmarulo</a>
                        </p>
                        <p class="float-right">v0.1-alpha</p>
                    </div>
                </footer>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <script src="js/jquery-3.3.1.js"></script>
        <script src="js/bootstrap.js"></script>
    </body>
</html>